<!DOCTYPE html>
<html>
<head>
	<title>RPG Generator v2</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<!DOCTYPE html>
<html>
<head>
	<title>RPG Generator v2</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body ng-app="rpgGenerator">
	<h1>RPG GENERATOR</h1>
	<label></label>
	<div ng-controller="mainCtrl" id="generator">
		<div class="rpgItems">
			<label>What type of PC is it?</label>
			<label ng-hide="editing" class="editing-label">{{rpgList.pcModel[0]}}</label>
			<input ng-change="rpgList.pcModel.edited = true" ng-show="editing" ng-model="rpgList.pcModel[0]" ng-blur="editing = false;" class="editing-label" type="text" value="{{rpgList.pcModel[0]}}" />
			<div class="actions">
				<a href="" ng-click="editing = !editing">Edit</a>
			</div>
		</div>
	</div>
	</div>
	<script src="vendor/angular.min.js" type="text/javascript"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/helloworld.js" type="text/javascript"></script>
</body>
</html>