<div class="list">
  <div id="rpglist">
    {{PcInfo}}
    <p><button ng-click="getPcInfo()">Another Idea?</button></p>
    <p><button ng-click="editing = true; fillOutForm()" ng-hide="editing">Make Your Own</button></p>
  </div>
  <div id="submitForm" ng-show="editing" ng-class="{
  }">
    <div ng-repeat="(key, value) in PcInput" ng-init="PcInput[key].edited = false" class="submit-form">
      <label>{{value.name}}</label><input ng-model='value.items' ng-change="PcInput[key].edited = true" value='{{value.items}}' ng-click="value.items = null; myStyle={color:'black'}" ng-style="myStyle"></input>
    </div>
    <button ng-click="editing = false; save(PcInput)">Submit</button>
  </div>
</div>
