body {
  background-color: #EFDD6F;
}
h1 {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  color: #BA6222;
}
label {
  text-align: right;
  clear: both;
  float:left;
  margin-top: 10px;
  /*margin-right:15px;*/
}
input {
  color: #a3a3a3;
  height: 20px;
  width: 150px;
  float: left;
}
